<div class="card m-4 p-4" style="width: 18rem;">
            <img src="..." class="card-img-top">
            <div class="card-body crimsonFont">
                <h5 class="card-title">{{name}}'s</h5>
                <p class="card-text">{{food_name}}</p>
                <a href="#" id='favoriteK' class="btn btn-primary">{{description}}</a>
            </div>
        </div>