<nav class="navbar navbar-dark bg-dark">
    <form class="container-fluid justify-content-end">
        <button class="btn btn-outline-success me-2" type="button">Home</button>
        <button class="btn btn-outline-primary me-2" type="button">Register</button>
    </form>
</nav>
<div class="d-flex justify-content-center">
    <div class="container m-4 crimsonFont">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" id='login' class="btn btn-primary">Login</button>
        </form>
    </div>
</div>