<nav class="navbar navbar-dark bg-dark">
  <form class="container-fluid justify-content-end">
    <button
      class="btn btn-outline-primary me-2 logoutBtn"
      id="logout"
      type="button"
    >Logout</button>
  </form>
</nav>
<div class="container justify-content-center">
  <h1 class="text-center about">Welcome to your Kitchen Forager!</h1>
</div>
<div class="container justify-content-center">
  <h1 class="text-center about">Let's Get Cooking!</h1>
  <p class="text-center">Below you can search for recipes by ingredients that
    you have in your kitchen.
  </p>
</div>
<div class="container-fluid col-3 ingSearchDiv">

  <div class="input-group mb-3 col-3">
    <input
      type="text"
      class="form-control inputIng"
      id="user_text"
      placeholder="Search by Ingredient List"
      aria-label="Ingredient List"
      aria-describedby="button-addon2"
    />
    <button
      class="btn btn-outline-success me-2 addBtn"
      type="button"
      id="button-addon1"
    >Add ingredients</button>
  </div>

  <div id="ingredientsSearched" class="col text-center"></div>
</div>

<div id="cardRecipe" class="container mb-5">
  <div class="card">
    <h2 id="recipeName" class="card-title" placeholder="card title"></h2>

    <figure class="figure">
      <img src="..." class="figure-img img-fluid rounded" alt="..." />
    </figure>

    <div class="card-body">
      <a href="#" class="btn btn-primary recipeLink">Recipe Link</a>
      <button id="favoriteBtn" class="btn btn-primary"><i
          class="fas fa-grin-hearts"
        ></i></button>
    </div>
  </div>
</div>

<div class="mx-auto" style="height: 80px;" id="spacerDiv">
</div>

<div class="container-fluid">
  <h2 class="text-center">Developer's Favorite Dishes</h2>
  <div class="mx-auto row row-cols-auto">
    {{#each recipeData}}
      <div class="card col mx-auto my-2">
        <div class="card-body crimsonFont">
          <h5 class="card-title">{{id}}</h5>
          <p class="card-text">{{title}}</p>
          <image class="card-image" src={{image}} />
          <a href="#" id="recipeLink" class="btn btn-primary">Recipe Link</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
  src="https://kit.fontawesome.com/bf2e3f60e1.js"
  crossorigin="anonymous"
></script>